extends ../layout

block header
    div.navbar.navbar-inverse.navbar-fixed-top.opaque-navbar
        div.container
            div.navbar-header
                button.navbar-toggle
                    span.gryphicon.glyphicon-chevron-right
                a.navbar-brand(href='#')='UMSS IO'
            div.collapse.navbar-collapse(id='navMain')
                ul.nav.navbar-nav.pull-right
                    li.active
                        a(href='#')='Proyectos'
                    li
                        a(href='#')='Eventos'
                    li
                        a(href='#')='Equipo'
                    li
                        a(href='#')='Blog'
                    li
                        a(href='#')='Contactanos'
                        
block container

    div.container.top
      div.row
        div.col-md-10.col-md-offset-1
          h3.text-center
            span.label.label-default(id='carrer-label',data-toggle='modal', data-target='#klass-manager-modal')= 'Select some career'

block footer
    div.container
        div.row
            div.col-md-12
                p.text-center= '2015'

  script.
    current = { 
      day: 'LU',
      hh: '08',
      mm: '00',
      career: '',
      inc: 4
    };

            
    $(document).ready(function () {
      //Hide and Create forms for careers
      cmr = career_modal_row = $('#career-modal-row');
      cmc = career_modal_card = $('#career-modal-card').clone();
      career_modal_row.empty();
      cmb = career_modal_body = $('#career-manager-body');

      // Connect user login button  
      $('#user-login-btn').click (function (e) {
        e.preventDefault();
        //-console.log($('user-login-form').serialize());
        $.ajax({type: 'POST', url: '/users/login', data: $('#user-login-form').serialize(), dataType: 'json'}).done (function (res) {
          if (res.result == '1') {
            $('#user-login').hide();
            $('#user-logged').show();
          }
          else {
          }
          console.log (res);
        });
      });
      $('#user-logged-btn').click (function (e) {
        e.preventDefault();
        $.ajax({type: 'GET', url: '/users/logout', dataType: 'json'}).done (function (res) {
          if (res.result == '1') {
            $('#user-login').show();
            $('#user-logged').hide();
            console.log ('Log out: ok');
          }
          else {
            console.log('Log out: wrong');
          }
        });
      });

      // Add time and date picker
      $('#datetimepicker').datetimepicker({
          defaultDate: "11/1/2013",
          //-debug: true,
          inline: true,
          collapse: false,
          toolbarPlacement: 'bottom',
          sideBySide: true,
          //-viewMode: 'weeks',
          format: 'HH:mm'

      }).on('dp.change', function (e) {
        a =  e.date.format('HHmm');
        at = $('#day-selector:checked').val() + ' - '+e.date.format('HH:mm');
        $('#dtpicker-label-day').text($('#day-selector:checked').val());
        $('#dtpicker-label-time').text(e.date.format('HH:mm'));

        current.hh = e.date.format('HH');
        current.mm = e.date.format('mm');
        current.day = $('#day-selector:checked').val();
        current.inc = $('#dtpicker-inc').val();
      });;

      $('#dtpicker-inc').change( function () {
        console.log ($(this).val());
        current.inc = $(this).val();
      });

      $('#day-selector-group :input').change( function () {
        console.log ('Changing day: '+$(this).val());
        //-$(this).addClass('active').not(this).removeClass('active');
        $('#dtpicker-label-day').text($(this).val());
        current.day = $(this).val();

      });

      $('#career-label').click (function (e) {
        e.preventDefault();
        console.log ('Seleccionar carrera');
      });

      // Create and update list of cards 
      function create_cards (container, preid, list, btn_func) {
        cars = list;

        for(i = 0; i < cars.length; i++) {
          if (i%3 == 0) {
            cmraux = cmr.clone();
            container.append(cmraux);
          }
          cmcaux = cmc.clone();
          cmcaux.find('#career-card-title').text(cars[i].name);
          cmcaux.find('#career-card-title').attr('id', 'cmt-'+cars[i]._id);
          cmraux.append(cmcaux);
          btn = cmcaux.find('#career-card-btn');
          btn.attr('id', preid +cars[i]._id);
          btn.attr('state', '0');
          btn.click(function (e) {
            e.preventDefault();
            btn_func($(this), preid);
          });
        }
      }

      
      $.when ($.ajax({type: 'GET', url: '/careers/list', dataType: 'json'}),
              $.ajax({type: 'GET', url: '/novelties/list', dataType: 'json'}))
              .done( function (careers, novelties) {
                create_cards ($('#career-manager-body'), 'all-', careers[0], user_career_btn_addrem)
              });

      function user_career_btn_addrem(b, preid) {
        aux = '';
        if (b.attr('state') == '0') {
          b.attr('state', '1');
          b.text('Quitar');
          aux = 'add';
          $('#'+ preid + b.attr('id').substring(preid.length)).addClass('lol');
        }
        else {
          b.attr('state', '0');
          b.text('Anadir');
          aux = 'remove';
          $('#'+ preid +  b.attr('id').substring(4)).removeClass('lol');
        }
        $.ajax({type: 'POST', url: '/users/'+aux+'Career/'+b.attr('id').substring(4)}).done( function (r) {
          console.log (r);
        });
      }

      // create modal window to select career


      $.when ($.ajax({type: 'GET', url: '/careers/myList', dataType: 'json'}))
              .done( function (careers) {
                create_cards ($('#klass-manager-body'), 'myl-', careers.careers, change_current_career)
              });

      function change_current_career (b, preid) {
          current.career = b.attr('id').substring(preid.length);
          console.log (current);
          par = current.career+'/'+current.day+'/'+current.hh+current.mm+'/'+(parseInt(current.hh) + parseInt(current.inc))+current.mm;
          console.log (par);
          $.ajax({type:'GET', url: '/klasses/myList/'+ par}).done(function (a) {
            console.log (a);
          });
      }

      

      // Check user logged
      $.ajax({type: "GET", url:  '/users/me', dataType: 'json'}).done (function (me) {
        if (me.passport.user != undefined) {
          $('#user-login').hide();
          $('#user-logged-name').text(me.passport.user);

          $.ajax({type: "GET", url:  '/careers/myList', dataType: 'json'}).done (function (cs) {
            car = cs.careers;
            console.log(car);
            for (i = 0; i < cs.careers.length; i++) {
              $('#cmt-'+cs.careers[i]._id).addClass('lol');
              $('#cmb-'+cs.careers[i]._id).text('Quitar');
            }
            
          });
          
        

        }
        else {
          $('#user-logged').hide();
        }
        console.log(me);
      });;



      
    //Close for document ready event
    });

