extends ../layout

block header
    div.navbar.navbar-inverse.navbar-fixed-top.opaque-navbar
        div.container
            div.navbar-header
                button.navbar-toggle
                    span.gryphicon.glyphicon-chevron-right
                a.navbar-brand(href='#')='UMSS IO'
            div.collapse.navbar-collapse(id='navMain')
                ul.nav.navbar-nav.pull-right
                    li.active
                        a(href='#')='Proyectos'
                    li
                        a(href='#')='Eventos'
                    li
                        a(href='#')='Equipo'
                    li
                        a(href='#')='Blog'
                    li
                        a(href='#')='Contactanos'
                        
block content 
  div.container
    div.row
      p a
      p a
      p
        strong= 'Hacer espaci'

    div.row
      div.col-md-5
        h1
          strong='Blog'
        each article in articles
          h2= article.title
          p= article.body
          p= article.timestamp
          p= article.user.name
            
    div.row
      div.col-md-5
        h1
          strong='Eventos'
        each event in events
          h2= event.title
          p= article.body
          p= article.user

    div.row
      div.col-md-5
        h1
          strong='Projects'
        each project in projects
          h2= project.name
          p= project.desc
          p= project.creator


block footer
  div.container
      div.row
          div.col-md-12
              p.text-center= '2015'

